#wrapper {
    margin: 0 auto;
}
body {
    background-image: url("/assets/images/grabbg.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
#header {
    height: 250px;
    position: relative;
}

#logo {
    position: absolute;
    left: 0;
    top: 0;
}

#auth {
    position: absolute;
    top: 0px;
    right: 0px;
}

#menu {
    position: absolute;
    right: 0;
    top: 0;
}

#menu li {
    display: block;
    float: left;
    padding: 30px;
    margin: 20px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

p {
    color: pink;
}

h2, h4, h5 {
    color: pink;
}

.about {
    color: pink;
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

/*.news {
    color: pink;
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}*/

.image {
    float: left;
    width: 250px;
}

#content {
    border: 1px solid black;
    padding: 10px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}


.clear {
    clear: both;
}

.myGallery {
    /*display: grid;*/
    /*grid-gap: 10px;*/
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    text-align: center;
}

.myGallery img {
    object-fit: cover;
    width:230px;
    height:230px;
    margin: 5px;
}

.imgWrapper {
    margin: 0px auto;
}

.form-label {
    color: pink;
}

.btn-primary {
    background-color: magenta;
    color: black;
    border-color: magenta;
}

.btn-primary:hover {
    background-color: purple;
    color: white;
    border-color: purple;
}

.btn-primary a {
    color: black;
}

/*.upload_div {
    display: block;
    text-align: center;
}

.upload_form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}*/

.contact_div {
    width: 500px;
}

.message_form {
    width: 500px;
    height: 300px;
}

/*.news_div {
    display: block;
    text-align: center;
}

.news_form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact_div {
    display: block;
    text-align: center;
}

.contact_form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}*/

.outer_form_div {
    display: block;
    text-align: center;
}

.inner_form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card {
    background-color: transparent;
}

.adminPanelList {
    width: 250px;
}

.list-group-item a {
    background-color: pink;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 200px;
    overflow: hidden;
}

.big-card {
    margin: auto;
}

/*.card-body {
    clear: left;
}*/

/*
.big-card-title {
    text-align: right;
}

.big-card-text {
    text-align: right;
}*/